@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

html, body {
  height: 100%;
  margin: 0;
  padding-top: 50px;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url('assets/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
